<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>UrbanFlow: {% block title %}{% endblock %}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>

    {% if request.user.is_authenticated %}

    <div> 
        <a href="{%% url ''}"> Acasa </a>
        <a href="{% url 'vizualizare-rute'%}"> Vizualizare Rute </a>
        <a href="{% url 'games' %}"> Puncte si Recompense </a>
        <a href="{% url 'notificari' %}"> Notificari </a>
        <a href="{% url 'rapoarte' %}"> Rapoarte si Sugestii </a>
        <a href="{% url 'personalizare-profil' %}"> Personalizare și Setări de Profil </a>
    </div>

    {%endif%}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}{% endblock %}
</body>
</html>