{% extends 'layout.html' %}

{% block content %}

<script>
    var routesData = {{ routes|safe }};  // Pass the data from Django to JavaScript
</script>

<div>
<p>Tramvaie:</p>
{%for route in routes%}
{% if route.route_type == 0 %}
            <input type="submit" name="{{ route.route_short_name }}" value="{{ route.route_short_name }}" 
            style="display: inline-block; margin-right: 10px;"
            onclick="showRouteDetails('{{ route.route_short_name }}')"/>
{% endif %}
{%endfor%}
</div>

<div>
    <p>Autobuze:</p>
    {%for route in routes%}
    {% if route.route_type == 3 %}
                <input type="submit" name="{{ route.route_short_name }}" value="{{ route.route_short_name }}" 
                style="display: inline-block; margin-right: 10px;" 
                onclick="showRouteDetails('{{ route.route_short_name }}')"/>
    {% endif %}
    {%endfor%}
</div>

<div id="route-details"></div>

<style>
    .map-container {
        width: 80%;  /* Adjust width (e.g., 50%, 300px, etc.) */
        height: 600px; /* Adjust height */
        max-width: 800px; /* Set a max size if needed */
    }
</style>
<div class="map-container" >{{ map|safe }}</div>

{% endblock content %}

